@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    background: url("../../src/assets/img/bg.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
